<header>
<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item"><a href="/">Inicio</a></li>
		<li class="nav-item"><a href="/populate">Poblar la Base de Datos</a></li>
		<!--<li><a href="/loadRS">Cargar el Sistema de Recomendacion</a></li>
		<li><a href="/recommendedFilmsUser">Recomienda dos Peliculas a un Usuario - RS Basado en Usuarios</a></li>
		<li><a href="/recommendedFilmsItems">Recomienda dos Peliculas a un Usuario - RS Basado en Items</a></li>-->	
		<li class="nav-item"><a href="/search">Buscar ofertas de un juego</a></li>
		<li class="nav-item"><a href="/searchTag">Busca juegos con el mismo tag</a></li>
		<li class="nav-item"><a href="/similarGames">Tres Juegos que mas se parecen a uno</a></li>
	</ul>
</nav>
</header>
