<html>
<head>
<title>Comparador de precios de claves</title>
</head>
<body>
{% include 'header.html' %}

    <h1 >Bienvenido al Sistema comparador de precios de claves de videojuegos!!!</h1> 
    <p >
    Se ha construido un sistema web que permite buscar precios de claves de videojuegos en distintas paginas</p>
    <p >Las páginas usadas son:</p>
    <ul >
        <p ><a href="https://www.instant-gaming.com/en/">Instant-Gaming</a></p>
        <p><a href="https://www.g2a.com/">G2A</a></p>
        <p ><a href="https://www.eneba.com/">Eneba</a></p>
    </ul>
    <p>Ademas de esto se ha implementado un sistema de recomendación basado en contenido, de forma que si </p>
    <p>el videojuego buscado se encuentra en la base de datos se muestran otros juegos que quizás le puedan</p>
    <p>interesar al usuario. Para construir este sistema de recomendación se usa un dataset con mas de 27000</p>
    <p>juegos presentes en steam clasificados por categorías.</p>
    
</body>
</html>