<html>
<head>
<title>Comparador de precios de claves</title>
</head>
<body>
{% include 'header.html' %}
<h1>Bienvenido al Sistema comparador de precios de claves de videojuegos!!!</h1> 
<p>
Se ha construido un sistema web que permite buscar precios de claves de videojuegos entre las paginas mas famosas de ventas de claves.

Los datos de la base de datos se han sacado de diversas fuentes:

- Para los juegos y sus tags, se ha utilizado Webscrapping en la pagina web de Steam: https://store.steampowered.com/
- Para las ofertas, se han usado las siguientes paginas de ventas:
    * G2A:
    * Instant Gaming:
    * HRK Game:
    * G2play:
    * Kinguin:
    * Gamivo:
    * Steam: https://store.steampowered.com/

El menu principal en la parte superior de la ventana permite las siguientes opciones:

a)  Dado el nombre de un juego, muestra todas las ofertas que hay referentes a ese juego.
b)  Dado un tag, muestra todos los juegos con ese tag.
c)  Dado el nombre de un juego, muestra 3 juegos parecidos a juego dado.
</p>
</body>
</html>