<html>
<head>
<title>Comparador de precios de claves</title>
<style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
</head>
<body>
{% include 'header.html' %}
<section>
<h1>Resultados</h1>
<table>
<tr>
    <th></th>
    <th>Nombre</th>
    <th>Pagina</th>
    <th>Link</th>
    <th>Precio</th>
</tr>
{% for x in lst %}
<tr>
    <td><img src="{{ x.item3 }}" height="210" width="140"></td>
    <td>{{ x.item1 }}</td>
    <td>{{ x.item5 }}</td>
    <td><a href="{{ x.item2 }}">Link</td>
    <td>{{ x.item4 }} €</td>
</tr>
{% empty %}
<h2> No se han encontrado ofertas referentes a la busqueda realizada </h2>
{% endfor %}
</table>
</section>
</body>
</html>